<!DOCTYPE html>
<html>
<head>
    <!-- 下面是定义标签库 -->
    <!-- 下面是定义通用的meta头信息 -->
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <!-- 下面是定义通用的变量信息 -->
    {load href="/static/layuiadmin/layui/css/layui.css,/static/layuiadmin/style/admin.css" /}
    <title></title>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-card">
            <div class="layui-btn-table">
                <form class="layui-form layui-form-pane">
                    <div class="layui-form-item layui-row">
                        <label class="layui-form-label" style="width: 200px">活动名称</label>
                        <div class="layui-input-4" style="float: left;width: 400px;">
                            <input autocomplete="off" type="text" name="activity_title" value="{notempty name='$activity'}{$activity.activity_title}{/notempty}" lay-verify="required" placeholder="请输入活动名称" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label" style="width: 150px">中奖概率</label>
                            <div class="layui-input-inline" style="float: left;width: 100px;">
                                <input autocomplete="off" class="layui-input" type="text" name="activity_chance" value="{notempty name='$activity.activity_chance'}{$activity.activity_chance}{/notempty}">
                            </div>
                        </div>
                    </div>

                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label" style="width: 200px">活动规则</label>
                        <div class="layui-input-block" style="width: 800px">
                            <div id="articleEditor">
                                {notempty name="$activity.activity_content"}
                                {$activity.activity_content|raw}
                                {/notempty}
                            </div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <!--图片上传②-->
                            <div class="layui-form-item">
                                <label class="layui-form-label" style="width: 200px">活动广告图</label>
                                <input type="hidden" name="activity_banner" id="pic_list" value="{notempty name='$activity'}{$activity.activity_banner}{/notempty}">
                                <div class="layui-input-block">
                                    <div class="layui-upload">
                                        <button type="button" class="layui-btn layui-btn-primary" id="adBtn_list"><i class="icon icon-upload3"></i>点击上传</button>
                                        <div class="layui-upload-list">
                                            <img class="layui-upload-img" id="adPic_list" src="{notempty name="$activity.activity_banner"}{$activity.activity_banner}{/notempty}" onerror="this.src='/static/img/nopicture.gif';this.onerror=null" style="width: 240px; height: 180px">
                                            <p id="demoText_list"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <!--图片上传①-->
                            <div class="layui-form-item">
                                <label class="layui-form-label" style="width: 200px">活动缩略图</label>
                                <input type="hidden" name="activity_img" id="pic_index" value="{notempty name='$activity'}{$activity.activity_img}{/notempty}">
                                <div class="layui-input-block">
                                    <div class="layui-upload">
                                        <button type="button" class="layui-btn layui-btn-primary" id="adBtn_index"><i class="icon icon-upload3"></i>点击上传</button>
                                        <div class="layui-upload-list">
                                            <img class="layui-upload-img" id="adPic_index" src="{notempty name="$activity.activity_img"}{$activity.activity_img}{/notempty}" onerror="this.src='/static/img/nopicture.gif';this.onerror=null" style="width: 240px; height: 180px">
                                            <p id="demoText_index"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="layui-form-item layui-layout-admin">
                        <div class="layui-input-block">
                            <input type="hidden" name="activity_id" value="{notempty name='$activity'}{$activity.activity_id}{/notempty}">
                            <button type="button" class="layui-btn" lay-submit="" lay-filter="submit">提交</button>
                            <!--<a href="{:url('index')}" class="layui-btn layui-btn-primary">返回</a>-->
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{load href="/static/layuiadmin/layui/layui.js,/static/js/tools.js,/static/plugin/wangEditor/wangEditor.min.js" /}
<script>
    layui.config({
        base: '/static/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['form', 'layer','upload','laydate'], function () {
        var form = layui.form, $ = layui.jquery, upload = layui.upload,laydate = layui.laydate;

        /*编辑器*/
        var E = window.wangEditor;
        var editor = new E('#articleEditor');
        // 配置服务器端地址
        editor.customConfig.uploadImgServer = '{:url("other/upload/image")}';
        // 限制一次最多上传 1 张图片
        editor.customConfig.uploadImgMaxLength = 1;
        // 自定义上传参数
        editor.customConfig.uploadFileName = 'image';
        editor.customConfig.uploadImgHeaders = {
            'Accept': 'application/json',
            'X-Requested-With': 'XMLHttpRequest',
        };
        editor.customConfig.uploadImgHooks = {
            // 如果服务器端返回的不是 {errno:0, data: [...]} 这种格式，可使用该配置
            // （但是，服务器端返回的必须是一个 JSON 格式字符串！！！否则会报错）
            customInsert: function (insertImg, result, editor, layer) {
                // 图片上传并返回结果，自定义插入图片的事件（而不是编辑器自动插入图片！！！）
                // insertImg 是插入图片的函数，editor 是编辑器对象，result 是服务器端返回的结果

                // 举例：假如上传图片成功后，服务器端返回的是 {url:'....'} 这种格式，即可这样插入图片：
                // result 必须是一个 JSON 格式字符串！！！否则报错
                if (result.code == 0) {
                    var url = result.data;
                    insertImg(url);
                } else {
                    layer.msg('上传失败');
                }
            }
        };
        editor.create();
        /*编辑器*/



        form.on('submit(submit)', function (data) {
            var loading = layer.load(1, {shade: [0.1, '#fff']});
            var action = "{:url('add')}";
            data.field.activity_content = editor.txt.html();
            if (data.field.activity_id.length > 0){
                action = "{:url('edit')}";
            }
            $.post(action, data.field, function (res) {
                layer.close(loading);
                if (res.code > 0) {
                    layer.msg(res.msg, {time: 1800, icon: 1}, function () {
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                        parent.tableIn.reload();
                    });
                } else {
                    layer.msg(res.msg, {time: 1800, icon: 2});
                }
            });
        });


        /*form.verify({
            PID:function(value,item){
                if(!new RegExp("^mm\_[0-9]+\_[0-9]+\_[0-9]+$").test(value)){
                    return "活动PID书写格式有误";
                }
            },
            rate:function(value,item){
                if(!new RegExp("0\.?[0-9]+$").test(value)){
                    return "请输入正确费率！";
                }
            },
            EN:function(value,item){
                if (!new RegExp("[a-zA-Z]+$").test(value)){
                    return "活动标识书写格式有误";
                }
            }
        });*/

        //缩略图片上传
        var posterWidth_1 = 140, posterHeight_1 = 140;
        var uploadIndex = upload.render({
            elem: '#adBtn_index'
            ,url: '{:url("other/upload/image")}'
            ,auto: false
            ,field: 'image'
            ,accept: 'images'
            ,acceptMime: 'image/!*'
            ,before: function(obj){
                layer.load(); //上传loading
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#adPic_index').attr('src', result); //图片链接（base64）
                });
            }
            ,choose: function(obj) {
                obj.preview(function(index, file, result) {
                    var img = new Image();
                    img.onload = function() {
                        // console.log('choose poster', img.width, img.height);
                        if (posterWidth_1 == img.width && posterHeight_1 == img.height) {
                            $('#adPic_index').attr('src', result); //图片链接（base64）不支持ie8
                            obj.upload(index, file);
                        } else {
                            layer.msg('图片尺寸必须为：' + posterWidth_1 + 'x' + posterHeight_1 + 'px');
                        }
                    };
                    img.src = result;
                });
            }
            ,done: function(res){
                if(res.code>=0){
                    $('#pic_index').val(res.data);
                }else{
                    //如果上传失败
                    return layer.msg('上传失败');
                }
                layer.closeAll('loading'); //关闭loading
            }
            ,error: function(){
                layer.closeAll('loading'); //关闭loading
                //演示失败状态，并实现重传
                var demoText = $('#demoText_index');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadIndex.upload();
                });
            }
        });


        //详情页图片上传
        var posterWidth = 140, posterHeight = 140;
        var uploadList = upload.render({
            elem: '#adBtn_list'
            ,url: '{:url("other/upload/image")}'
            ,auto: false
            ,field: 'image'
            ,accept: 'images'
            ,acceptMime: 'image/!*'
            ,before: function(obj){
                layer.load(); //上传loading
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#adPic_list').attr('src', result); //图片链接（base64）
                });
            }
            ,choose: function(obj) {
                obj.preview(function(index, file, result) {
                    var img = new Image();
                    img.onload = function() {
                        // console.log('choose poster', img.width, img.height);
                        if (posterWidth == img.width && posterHeight == img.height) {
                            $('#adPic_list').attr('src', result); //图片链接（base64）不支持ie8
                            obj.upload(index, file);
                        } else {
                            layer.msg('图片尺寸必须为：' + posterWidth + 'x' + posterHeight + 'px');
                        }
                    };
                    img.src = result;
                });
            }
            ,done: function(res){
                if(res.code>=0){
                    $('#pic_list').val(res.data);
                }else{
                    //如果上传失败
                    return layer.msg('上传失败');
                }
                layer.closeAll('loading'); //关闭loading
            }
            ,error: function(){
                layer.closeAll('loading'); //关闭loading
                //演示失败状态，并实现重传
                var demoText = $('#demoText_list');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadList.upload();
                });
            }
        });

    });

</script>
